* {
  font-family: 'Hind', sans-serif;
}

html {
  background-color: rgb(237, 236, 237);
}

#page-header {
  width: 100vw;
  height: 100px;
  background-color: rgb(38,38,38);
  position: relative;
}

main {
  background-color: rgb(237, 236, 237);
  margin: 0;
  padding: .5vw;
}

h1 {
  color: white;

}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#header-links {
  position: absolute;
  left: -1.75vw;
  bottom: 15px;
}

#playlist-text,
#videos-text {
  color: rgb(142, 142, 142);
  display: inline;
  font-size: 16px;
  vertical-align: 20%;
  margin-left: 16px;
}

#shares-text {
  color: white;
  display: inline;
  font-size: 16px;
  vertical-align: 20%;
  margin-left: 16px;
}

#header-links img {
  height: 20px;
  width: 20px;
  display: inline;
  margin-left: 48px;
}

/*???????????????????????????*/

#login {
  position: absolute;
  right: 37px;
  top: 16px;
}


#login p {
  color: rgb(36, 139, 199);
  display: inline;
  font-size: 12px;
  vertical-align: 50%;
  margin-left: 4px;
}

[src="img/down-arrow.svg"] {
  height: 8px;
  width: 8px;
  vertical-align: 27%;
  margin-left: 4px;
}

[src="img/user.svg"] {
  height: 20px;
  width: 20px;
}


#logo {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

#logo h1 {
  color: white;
  display: inline;
  font-size: 40px;
}

[src="img/ribbon.svg"] {
  height: 2.5rem;
  width: 2.5rem;
  display: inline;
}

/*?????????????????????????????????*/

#shares {
  height: 80px;
  width: 100vw;
  margin: 0;
  display: block;
  position: relative;

}

h2 {
  margin: 0;
  margin-left: .5vw;
  font-size: 40px;
  font-weight: 500;
  color: rgb(68,68,68);
  position: absolute;
  bottom: 22%;
}

/*??????????????????????????????????????*/

article {
  width: 23.25vw;
  height: 29vw;
  background-color: white;
  margin: .6vw .6vw .6vw .6vw;
  position: relative;
  display: inline-block;
  box-shadow: .3vw .3vw rgba(0,0,0,.05), -.3vw -.3vw rgba(0,0,0,.05);
}

.picture {
  height: 10vw;
  filter: brightness(.7);
}

#comeau {
  background: url("../img/Blake Comeau.jpg") no-repeat;
  background-size: auto 100%;
}

#soderberg {
  background: url("../img/Carl Soderberg.jpg") no-repeat;
  background-size: auto 100%;
}

#landeskog {
  background: url("../img/Gabriel Landeskog.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#rantanen {
  background: url("../img/Mikko Rantanen.jpg") no-repeat;
  background-size: auto 100%;
}

#yakupov {
  background: url("../img/Nail Yakupov.jpg") no-repeat;
  background-size: auto 100%;
}

#mackinnon {
  background: url("../img/Nathan MacKinnon.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#andrighetto {
  background: url("../img/Sven Andrighetto.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#barrie {
  background: url("../img/Tyson Barrie.jpg") no-repeat;
  background-size: auto 100%;
}

[src="img/forward-arrow.svg"] {
  height: 3.5vw;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: .6vw;
  left: .6vw;
}

article aside {
  color: white;
  position: absolute;
  top: .6vw;
  right: .6vw;
  font-size: 1vw;
}

article span {
  font-size: 2.5vw;
}

.name {
  font-weight: 500;
  font-size: 1.3vw;
  margin-bottom: 0;
  margin-left: 1.2vw;
}

.date {
  font-size: 1vw;
  color: rgb(145,145,145);
  margin-top: 0.1vw;
  margin-left: 1.2vw;
}

.address {
  width: 19.5vw;
  margin: 0 auto;
  padding: .5vw;
  word-wrap: break-word;
  color: rgb(145,145,145);
  background-color: rgb(237, 237, 237)
}

.address p {
  font-size: .92vw;
}

.playlist {
  font-size: 1vw;
  margin-left: 1.2vw;
  margin-bottom: 0;
  font-weight: 400;
}

.name-of-playlist{
  font-size: 1.3vw;
  margin-left: 1.2vw;
  margin-top: 0;
  font-weight: 400;
}

.attachments {
  font-size: 1vw;
  font-weight: 500;
  margin-left: 1.2vw;
  margin-top: 0;
  margin-bottom: 0;
}

.attachment-quantity {
  font-size: 2.5vw;
  color: rgb(36,139,199);
  margin-top: 0;
  margin-left: 1.2vw;
  margin-bottom: 0;
}


/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/


@media screen and (max-width: 1200px) {
  
  main {
    padding: 1.5vw;
  }

  #header-links {
    left: -15px;
  }

  #login {
    right: 57px;
  }

  #logo {
    right: 35px;
  }

  h2 {
    margin-left: 1.4vw;
  }

  article {
    width: 29vw;
    height: 34.8vw;
    margin: 1.5vw 1.5vw 1.5vw 1.5vw;
  }
  
  .picture {
    height: 11.6vw;
  }

  article aside {
    color: white;
    position: absolute;
    top: .7vw;
    right: .7vw;
    font-size: 1.16vw;
  }

  article span {
    font-size: 2.9vw;
  }

  .name {
    font-weight: 500;
    font-size: 1.5vw;
    margin-bottom: 0vw;
    margin-left: 1.4vw;
  }

  .date {
    font-size: 1.16vw;
    color: rgb(145,145,145);
    margin-top: 0vw;
    margin-left: 1.4vw;
  }

  .address {
    width: 25vw;
    margin: 1vw auto;
    padding: .58vw;
    word-wrap: break-word;
    color: rgb(145,145,145);
    background-color: rgb(237, 237, 237);
  }

  .address p {
    font-size: 1.15vw;
  }

  .playlist {
    font-size: 1.16vw;
    margin-left: 1.4vw;
    margin-bottom: 0vw;
    font-weight: 400;
  }

  .name-of-playlist{
    font-size: 1.5vw;
    margin-left: 1.4vw;
    margin-top: 0vw;
    font-weight: 400;
  }

  .attachments {
    font-size: 1.16vw;
    font-weight: 500;
    margin-left: 1.4vw;
    margin-top: 0vw;
    margin-bottom: 0;
  }

  .attachment-quantity {
    font-size: 2.9vw;
    color: rgb(36,139,199);
    margin-top: 0vw;
    margin-left: 1.4vw;
    margin-bottom: 0;
  }
}

/*//////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1056px) {
  
  main {
    padding: 0.4vw;
  }

  #header-links {
    left: -1.75vw;
  }

  #login {
    right: 37px;
  }

  #logo {
    right: 15px;
  }

  h2 {
    margin-left: 1.4vw;
  }

  article {
    width: 32vw;
    height: 39.6vw;
    margin: 0.4vw 0.4vw 0.4vw 0.4vw;
  }
  
  .picture {
    height: 13.1vw;
  }

  article aside {
    color: white;
    position: absolute;
    top: .8vw;
    right: .8vw;
    font-size: 1.31vw;
  }

  article span {
    font-size: 3.27vw;
  }

  .name {
    font-weight: 500;
    font-size: 1.5vw;
    margin-bottom: 0vw;
    margin-left: 1.58vw;
  }

  .date {
    font-size: 1.31vw;
    color: rgb(145,145,145);
    margin-top: 0vw;
    margin-left: 1.58vw;
  }

  .address {
    width: 28.25vw;
    margin: 1.13vw auto;
    padding: .65vw;
    word-wrap: break-word;
    color: rgb(145,145,145);
    background-color: rgb(237, 237, 237);
  }

  .address p {
    font-size: 1.3vw;
  }

  .playlist {
    font-size: 1.31vw;
    margin-left: 1.58vw;
    margin-bottom: 0vw;
    font-weight: 400;
  }

  .name-of-playlist{
    font-size: 1.695vw;
    margin-left: 1.58vw;
    margin-top: 0vw;
    font-weight: 400;
  }

  .attachments {
    font-size: 1.31vw;
    font-weight: 500;
    margin-left: 1.58vw;
    margin-top: 0vw;
    margin-bottom: 0;
  }

  .attachment-quantity {
    font-size: 3.277vw;
    color: rgb(36,139,199);
    margin-top: 0vw;
    margin-left: 1.58vw;
    margin-bottom: 0;
  }
}

/*//////////////////////////////////////////////////////////////*/

@media screen and (max-width: 912px) {
  
  main {
    padding: 1.5vw;
  }

  #header-links {
    left: -15px;
  }

  #login {
    right: 57px;
  }

  #logo {
    right: 35px;
  }

  h2 {
    margin-left: 1.4vw;
  }

  article {
    width: 41vw;
    height: 49vw;
    margin: .5vw .5vw .5vw .5vw;
  }
  
  .picture {
    height: calc(20vw/2);
  }

  article aside {
    color: white;
    position: absolute;
    top: .6vw;
    right: .6vw;
    font-size: 1vw;
  }

  article span {
    font-size: 2.5vw;
  }

  .name {
    font-weight: 500;
    font-size: 1.3vw;
    margin-bottom: 0;
    margin-left: 1.2vw;
  }

  .date {
    font-size: 1vw;
    color: rgb(145,145,145);
    margin-top: 0.1vw;
    margin-left: 1.2vw;
  }

  .address {
    width: 19.5vw;
    margin: 0 auto;
    padding: .5vw;
    word-wrap: break-word;
    color: rgb(145,145,145);
    background-color: rgb(237, 237, 237)
  }

  .address p {
    font-size: .92vw;
  }

  .playlist {
    font-size: 1vw;
    margin-left: 1.2vw;
    margin-bottom: 0;
    font-weight: 400;
  }

  .name-of-playlist{
    font-size: 1.3vw;
    margin-left: 1.2vw;
    margin-top: 0;
    font-weight: 400;
  }

  .attachments {
    font-size: 1vw;
    font-weight: 500;
    margin-left: 1.2vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  .attachment-quantity {
    font-size: 2.5vw;
    color: rgb(36,139,199);
    margin-top: 0;
    margin-left: 1.2vw;
    margin-bottom: 0;
  }
}

/*//////////////////////////////////////////////////////////////*/

@media screen and (max-width: 768px) {
  
  main {
    padding: 1.5vw;
  }

  #header-links {
    left: -15px;
  }

  #login {
    right: 57px;
  }

  #logo {
    right: 35px;
  }

  h2 {
    margin-left: 1.4vw;
  }

  article {
    width: 50vw;
    height: 60vw;
    margin: .5vw .5vw .5vw .5vw;
  }
  
  .picture {
    height: calc(20vw/2);
  }

  article aside {
    color: white;
    position: absolute;
    top: .6vw;
    right: .6vw;
    font-size: 1vw;
  }

  article span {
    font-size: 2.5vw;
  }

  .name {
    font-weight: 500;
    font-size: 1.3vw;
    margin-bottom: 0;
    margin-left: 1.2vw;
  }

  .date {
    font-size: 1vw;
    color: rgb(145,145,145);
    margin-top: 0.1vw;
    margin-left: 1.2vw;
  }

  .address {
    width: 19.5vw;
    margin: 0 auto;
    padding: .5vw;
    word-wrap: break-word;
    color: rgb(145,145,145);
    background-color: rgb(237, 237, 237)
  }

  .address p {
    font-size: .92vw;
  }

  .playlist {
    font-size: 1vw;
    margin-left: 1.2vw;
    margin-bottom: 0;
    font-weight: 400;
  }

  .name-of-playlist{
    font-size: 1.3vw;
    margin-left: 1.2vw;
    margin-top: 0;
    font-weight: 400;
  }

  .attachments {
    font-size: 1vw;
    font-weight: 500;
    margin-left: 1.2vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  .attachment-quantity {
    font-size: 2.5vw;
    color: rgb(36,139,199);
    margin-top: 0;
    margin-left: 1.2vw;
    margin-bottom: 0;
  }
}

/*//////////////////////////////////////////////////////////////*/

@media screen and (max-width: 591px) {
  
  main {
    padding: 1.5vw;
  }

  #header-links {
    left: -15px;
  }

  #login {
    right: 57px;
  }

  #logo {
    right: 35px;
  }

  h2 {
    margin-left: 1.4vw;
  }

  article {
    width: 75vw;
    height: 90vw;
    margin: .5vw .5vw .5vw .5vw;
  }
  
  .picture {
    height: calc(20vw/2);
  }

  article aside {
    color: white;
    position: absolute;
    top: .6vw;
    right: .6vw;
    font-size: 1vw;
  }

  article span {
    font-size: 2.5vw;
  }

  .name {
    font-weight: 500;
    font-size: 1.3vw;
    margin-bottom: 0;
    margin-left: 1.2vw;
  }

  .date {
    font-size: 1vw;
    color: rgb(145,145,145);
    margin-top: 0.1vw;
    margin-left: 1.2vw;
  }

  .address {
    width: 19.5vw;
    margin: 0 auto;
    padding: .5vw;
    word-wrap: break-word;
    color: rgb(145,145,145);
    background-color: rgb(237, 237, 237)
  }

  .address p {
    font-size: .92vw;
  }

  .playlist {
    font-size: 1vw;
    margin-left: 1.2vw;
    margin-bottom: 0;
    font-weight: 400;
  }

  .name-of-playlist{
    font-size: 1.3vw;
    margin-left: 1.2vw;
    margin-top: 0;
    font-weight: 400;
  }

  .attachments {
    font-size: 1vw;
    font-weight: 500;
    margin-left: 1.2vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  .attachment-quantity {
    font-size: 2.5vw;
    color: rgb(36,139,199);
    margin-top: 0;
    margin-left: 1.2vw;
    margin-bottom: 0;
  }
}

/*//////////////////////////////////////////////////////////////*/

@media screen and (max-width: 414px) {
  
  main {
    padding: 1.5vw;
  }

  #header-links {
    left: -15px;
  }

  #login {
    right: 57px;
  }

  #logo {
    right: 35px;
  }

  h2 {
    margin-left: 1.4vw;
  }

  article {
    width: 100vw;
    height: 120vw;
    margin: .5vw .5vw .5vw .5vw;
  }
  
  .picture {
    height: calc(20vw/2);
  }

  article aside {
    color: white;
    position: absolute;
    top: .6vw;
    right: .6vw;
    font-size: 1vw;
  }

  article span {
    font-size: 2.5vw;
  }

  .name {
    font-weight: 500;
    font-size: 1.3vw;
    margin-bottom: 0;
    margin-left: 1.2vw;
  }

  .date {
    font-size: 1vw;
    color: rgb(145,145,145);
    margin-top: 0.1vw;
    margin-left: 1.2vw;
  }

  .address {
    width: 19.5vw;
    margin: 0 auto;
    padding: .5vw;
    word-wrap: break-word;
    color: rgb(145,145,145);
    background-color: rgb(237, 237, 237)
  }

  .address p {
    font-size: .92vw;
  }

  .playlist {
    font-size: 1vw;
    margin-left: 1.2vw;
    margin-bottom: 0;
    font-weight: 400;
  }

  .name-of-playlist{
    font-size: 1.3vw;
    margin-left: 1.2vw;
    margin-top: 0;
    font-weight: 400;
  }

  .attachments {
    font-size: 1vw;
    font-weight: 500;
    margin-left: 1.2vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  .attachment-quantity {
    font-size: 2.5vw;
    color: rgb(36,139,199);
    margin-top: 0;
    margin-left: 1.2vw;
    margin-bottom: 0;
  }
}

